
/*===========================
    1.COMMON css 
===========================*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");
body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #777; }



img {
  max-width: 100%; }

a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none; }

a:focus,
a:hover {
  text-decoration: none; }

span,
a {
  display: inline-block; }


h1 {
  font-size: 92px; }

h2 {
  font-size: 35px; }

h3 {
  font-size: 32px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 20px; }

h6 {
  font-size: 16px; }

ul, ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none; }

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #777;
  margin: 0px; }

/*===== All Button Style =====*/
.main-btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  @inlude user-select(none);
  border: 1px solid #fe7865;
  padding: 0 35px;
  font-size: 16px;
  line-height: 48px;
  color: #000;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  background-color: #fe7865; }
  @media (max-width: 767px) {
    .main-btn {
      font-size: 14px;
      padding: 0 25px;
      line-height: 43px; } }
  .main-btn i {
    font-size: 12px;
    margin-left: 5px; }
  .main-btn:hover {
    background-color: #fff;
    color: #fe7865;
    border-color: #fe7865; }
  
	  
	  .main-btn-g {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  @inlude user-select(none);
  border: 1px solid #43D58C;
  padding: 0 35px;
  font-size: 16px;
  line-height: 48px;
  color: #000;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  background-color: #43D58C; }
  @media (max-width: 767px) {
    .main-btn-g {
      font-size: 14px;
      padding: 0 25px;
      line-height: 43px; } }
  .main-btn-g i {
    font-size: 12px;
    margin-left: 5px; }
  .main-btn-g:hover {
    background-color: #fff;
    color: #43D58C;
    border-color: #43D58C; }


/*===== All Preloader Title Style =====*/
.preloader {
  /* Body Overlay */
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  width: 100%;
  height: 100%;
  /* Change Background Color */
  background: #fdfdfd;
  z-index: 9999; }
  .preloader .spin {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px; }
    .preloader .spin .cube1, .preloader .spin .cube2 {
      background-color: #fe7865;
      width: 15px;
      height: 15px;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
      -moz-animation: sk-cubemove 1.8s infinite ease-in-out;
      -o-animation: sk-cubemove 1.8s infinite ease-in-out;
      animation: sk-cubemove 1.8s infinite ease-in-out; }
    .preloader .spin .cube2 {
      -webkit-animation-delay: -0.9s;
      -moz-animation-delay: -0.9s;
      -o-animation-delay: -0.9s;
      animation-delay: -0.9s; }

/* CSS Keyframe Animation */
@-webkit-keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    -moz-transform: translateX(42px) rotate(-90deg) scale(0.5);
    -ms-transform: translateX(42px) rotate(-90deg) scale(0.5);
    -o-transform: translateX(42px) rotate(-90deg) scale(0.5);
    transform: translateX(42px) rotate(-90deg) scale(0.5); }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    -moz-transform: translateX(42px) translateY(42px) rotate(-180deg);
    -ms-transform: translateX(42px) translateY(42px) rotate(-180deg);
    -o-transform: translateX(42px) translateY(42px) rotate(-180deg);
    transform: translateX(42px) translateY(42px) rotate(-180deg); }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -moz-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -ms-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -o-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5); }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg); } }
@keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    -moz-transform: translateX(42px) rotate(-90deg) scale(0.5);
    -ms-transform: translateX(42px) rotate(-90deg) scale(0.5);
    -o-transform: translateX(42px) rotate(-90deg) scale(0.5);
    transform: translateX(42px) rotate(-90deg) scale(0.5); }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    -moz-transform: translateX(42px) translateY(42px) rotate(-180deg);
    -ms-transform: translateX(42px) translateY(42px) rotate(-180deg);
    -o-transform: translateX(42px) translateY(42px) rotate(-180deg);
    transform: translateX(42px) translateY(42px) rotate(-180deg); }
  50.1% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    -moz-transform: translateX(42px) translateY(42px) rotate(-180deg);
    -ms-transform: translateX(42px) translateY(42px) rotate(-180deg);
    -o-transform: translateX(42px) translateY(42px) rotate(-180deg);
    transform: translateX(42px) translateY(42px) rotate(-180deg); }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -moz-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -ms-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -o-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5); }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

/*===========================
    3.SLIDER css 
===========================*/
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  top: 80px;
}

.active, .dot:hover {
  background-color: #717171;
}
/* Fading animation */

.single-slider {
  position: relative;
  top: 100px;
 }
  @media only screen and (min-width: 1400px) {
    .single-slider {
      padding: 0 100px;
	  } }
  @media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .single-slider {
      padding: 0 30px; } }
  .single-slider .slider-bg {
    background-color: #00a86b; }
   .single-slider .slider-product-image
   {
	   width:35%;
	   position: relative;
	  
   }
  .single-slider .slider-product-image img {
	position: relative;
	left: 30px;
    width: 100%; }
  .single-slider .slider-product-image .slider-discount-tag {
    width: 125px;
    height: 125px;
    background-color: #00a86b;
	border: 8px solid #fff;
    border-radius: 50%;
    text-align: center;
    display: table;
    position: absolute;
    top: 90px;
    right: -80px; }
    @media only screen and (min-width: 992px) and (max-width: 1200px) {
      .single-slider .slider-product-image .slider-discount-tag {
        width: 100px;
        height: 100px;
        right: -50px;
        top: 50px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single-slider .slider-product-image .slider-discount-tag {
        width: 100px;
        height: 100px;
        right: -50px;
        top: 50px; } }
    .single-slider .slider-product-image .slider-discount-tag p {
      display: table-cell;
      vertical-align: middle;
      color: #eefd5f;
      font-size: 28px;
      font-weight: 600;
	 font-family: 'Satisfy', cursive;

      line-height: 33px; }
  .single-slider .slider-product-content {
	  position: absolute; 
	  display: inline-table;
    max-width: 670px;
    margin-left: 125px;
	bottom:175px;
	left:500px;
	}
	.single-slider .slider-product-content p{
		color: #C1FFC1;

	}
    @media only screen and (min-width: 992px) and (max-width: 1200px) {
      .single-slider .slider-product-content {
        margin-left: 100px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single-slider .slider-product-content {
        margin-left: 70px; } }
    @media (max-width: 767px) {
      .single-slider .slider-product-content {
        margin-left: 0;
        padding: 40px 15px 50px; } }
    .single-slider .slider-product-content .slider-title {
	  color: #fff;
	  font-family: 'Bebas Neue', cursive;;
      font-size: 70px;
      z-index: 1; }
      @media only screen and (min-width: 992px) and (max-width: 1200px) {
        .single-slider .slider-product-content .slider-title {
          font-size: 68px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single-slider .slider-product-content .slider-title {
          font-size: 48px; } }
      @media (max-width: 767px) {
        .single-slider .slider-product-content .slider-title {
          font-size: 42px; } }
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .single-slider .slider-product-content .slider-title {
          font-size: 52px; } }
      .single-slider .slider-product-content .slider-title span {
        position: relative; }
        .single-slider .slider-product-content .slider-title span::before {
          position: absolute;
          content: '';
          width: 100%;
          height: 10px;
          /*background-color: rgba(254, 120, 101, 0.5);*/
          left: 0;
          bottom: 17px;
          z-index: auto; }
          @media only screen and (min-width: 768px) and (max-width: 991px) {
            .single-slider .slider-product-content .slider-title span::before {
              bottom: 7px; } }
          @media (max-width: 767px) {
            .single-slider .slider-product-content .slider-title span::before {
              bottom: 8px;
              height: 6px; } }
    @media only screen and (min-width: 992px) and (max-width: 1200px) {
      .single-slider .slider-product-content p br {
        display: none; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single-slider .slider-product-content p br {
        display: none; } }
    @media (max-width: 767px) {
      .single-slider .slider-product-content p br {
        display: none; } }
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: 0px;
  top: 400px;
  padding: 16px;
  color: green;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 30px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.slider-social {
  position: absolute;
  bottom: 20px;
  left: 645px;
  width: 50%; }
  @media only screen and (min-width: 1400px) {
    .slider-social {
      padding: 0 100px; } }
  @media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .slider-social {
      padding: 0 30px; } }
  .slider-social .social {
    position: relative; }
    
    .slider-social .social::before {
      position: absolute;
      content: '';
      width: 70%;
      height: 3px;
      background-color: #fe7865;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 0; }
      @media only screen and (min-width: 992px) and (max-width: 1200px) {
        .slider-social .social::before {
          width: 63%; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .slider-social .social::before {
          width: 48%; } }
      @media (max-width: 767px) {
        .slider-social .social::before {
          width: 35%;
          left: 60px; } }
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .slider-social .social::before {
          width: 65%; } 


/*# sourceMappingURL=style.css.map */
