@font-face {
  font-family: 'tik-tok';
  src: url('../font/tik-tok.eot?11488797');
  src: url('../font/tik-tok.eot?11488797#iefix') format('embedded-opentype'),
       url('../font/tik-tok.woff2?11488797') format('woff2'),
       url('../font/tik-tok.woff?11488797') format('woff'),
       url('../font/tik-tok.ttf?11488797') format('truetype'),
       url('../font/tik-tok.svg?11488797#tik-tok') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'tik-tok';
    src: url('../font/tik-tok.svg?11488797#tik-tok') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "tik-tok";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-edit:before { content: '\e800'; } /* '' */
.icon-pencil:before { content: '\e801'; } /* '' */
.icon-trash-empty:before { content: '\e802'; } /* '' */
.icon-magnet:before { content: '\e803'; } /* '' */
.icon-chart-bar:before { content: '\e804'; } /* '' */
.icon-credit-card:before { content: '\e805'; } /* '' */
.icon-book:before { content: '\e806'; } /* '' */
.icon-home:before { content: '\e807'; } /* '' */
.icon-plane:before { content: '\e808'; } /* '' */
.icon-stopwatch:before { content: '\e809'; } /* '' */
.icon-right-bold:before { content: '\e80a'; } /* '' */
.icon-up-bold:before { content: '\e80b'; } /* '' */
.icon-down-fat:before { content: '\e80c'; } /* '' */
.icon-left-fat:before { content: '\e80d'; } /* '' */
.icon-right-fat:before { content: '\e80e'; } /* '' */
.icon-quote-right-alt:before { content: '\e80f'; } /* '' */
.icon-quote-left-alt:before { content: '\e810'; } /* '' */
.icon-quote-left:before { content: '\e811'; } /* '' */
.icon-quote-right:before { content: '\e812'; } /* '' */
.icon-down:before { content: '\e813'; } /* '' */
.icon-left:before { content: '\e814'; } /* '' */
.icon-right:before { content: '\e815'; } /* '' */
.icon-up:before { content: '\e816'; } /* '' */
.icon-video:before { content: '\e817'; } /* '' */
.icon-star-empty:before { content: '\e818'; } /* '' */
.icon-mail:before { content: '\e819'; } /* '' */
.icon-star:before { content: '\e81a'; } /* '' */
.icon-heart-empty:before { content: '\e81b'; } /* '' */
.icon-users:before { content: '\e81c'; } /* '' */
.icon-plus:before { content: '\e81d'; } /* '' */
.icon-cancel:before { content: '\e81e'; } /* '' */
.icon-thumbs-up:before { content: '\e81f'; } /* '' */
.icon-bell:before { content: '\e820'; } /* '' */
.icon-retweet:before { content: '\e821'; } /* '' */
.icon-cog:before { content: '\e822'; } /* '' */
.icon-cog-alt:before { content: '\e823'; } /* '' */
.icon-basket:before { content: '\e824'; } /* '' */
.icon-calendar:before { content: '\e825'; } /* '' */
.icon-play-1:before { content: '\e826'; } /* '' */
.icon-briefcase:before { content: '\e827'; } /* '' */
.icon-leaf:before { content: '\e828'; } /* '' */
.icon-users-1:before { content: '\e829'; } /* '' */
.icon-note:before { content: '\e82a'; } /* '' */
.icon-cancel-circled:before { content: '\e82b'; } /* '' */
.icon-suitcase-1:before { content: '\e82c'; } /* '' */
.icon-th-large-outline:before { content: '\e82d'; } /* '' */
.icon-th-large:before { content: '\e82e'; } /* '' */
.icon-th-list:before { content: '\e82f'; } /* '' */
.icon-th-list-outline:before { content: '\e830'; } /* '' */
.icon-th-outline:before { content: '\e831'; } /* '' */
.icon-th:before { content: '\e832'; } /* '' */
.icon-camera-outline:before { content: '\e833'; } /* '' */
.icon-picture:before { content: '\e834'; } /* '' */
.icon-picture-outline:before { content: '\e835'; } /* '' */
.icon-basket-1:before { content: '\e836'; } /* '' */
.icon-menu-outline:before { content: '\e837'; } /* '' */
.icon-menu:before { content: '\e838'; } /* '' */
.icon-arrows-cw:before { content: '\e839'; } /* '' */
.icon-cw-outline:before { content: '\e83a'; } /* '' */
.icon-chart-bar-1:before { content: '\e83b'; } /* '' */
.icon-chart-alt:before { content: '\e83c'; } /* '' */
.icon-scissors:before { content: '\e83d'; } /* '' */
.icon-progress-0:before { content: '\e83e'; } /* '' */
.icon-progress-1:before { content: '\e83f'; } /* '' */
.icon-progress-2:before { content: '\e840'; } /* '' */
.icon-progress-3:before { content: '\e841'; } /* '' */
.icon-progress-4:before { content: '\e842'; } /* '' */
.icon-progress-5:before { content: '\e843'; } /* '' */
.icon-progress-6:before { content: '\e844'; } /* '' */
.icon-progress-7:before { content: '\e845'; } /* '' */
.icon-left-open-1:before { content: '\e846'; } /* '' */
.icon-right-open-1:before { content: '\e847'; } /* '' */
.icon-user:before { content: '\e848'; } /* '' */
.icon-clock:before { content: '\e849'; } /* '' */
.icon-attach:before { content: '\e84a'; } /* '' */
.icon-desktop:before { content: '\e84b'; } /* '' */
.icon-slideshare:before { content: '\e84c'; } /* '' */
.icon-desktop-circled:before { content: '\e84d'; } /* '' */
.icon-cog-circled:before { content: '\e84e'; } /* '' */
.icon-group-circled:before { content: '\e84f'; } /* '' */
.icon-mail-circled:before { content: '\e850'; } /* '' */
.icon-pencil-circled:before { content: '\e851'; } /* '' */
.icon-edit-1:before { content: '\e852'; } /* '' */
.icon-pencil-alt:before { content: '\e853'; } /* '' */
.icon-edit-alt:before { content: '\e854'; } /* '' */
.icon-edit-circled:before { content: '\e855'; } /* '' */
.icon-down-open:before { content: '\f004'; } /* '' */
.icon-up-open:before { content: '\f005'; } /* '' */
.icon-right-open:before { content: '\f006'; } /* '' */
.icon-left-open:before { content: '\f007'; } /* '' */
.icon-pause:before { content: '\f00e'; } /* '' */
.icon-play:before { content: '\f00f'; } /* '' */
.icon-to-end:before { content: '\f010'; } /* '' */
.icon-to-start:before { content: '\f011'; } /* '' */
.icon-fast-forward:before { content: '\f012'; } /* '' */
.icon-fast-backward:before { content: '\f013'; } /* '' */
.icon-shuffle:before { content: '\f03b'; } /* '' */
.icon-vector:before { content: '\f045'; } /* '' */
.icon-linkedin:before { content: '\f05c'; } /* '' */
.icon-instagram:before { content: '\f05d'; } /* '' */
.icon-instagram-circled:before { content: '\f05e'; } /* '' */
.icon-folder:before { content: '\f067'; } /* '' */
.icon-folder-open:before { content: '\f068'; } /* '' */
.icon-folder-empty:before { content: '\f069'; } /* '' */
.icon-zoom-in:before { content: '\f07e'; } /* '' */
.icon-zoom-out:before { content: '\f07f'; } /* '' */
.icon-stop:before { content: '\f080'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin-1:before { content: '\f0e1'; } /* '' */
.icon-suitcase:before { content: '\f0f2'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-play-circled:before { content: '\f144'; } /* '' */
.icon-euro:before { content: '\f153'; } /* '' */
.icon-pound:before { content: '\f154'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-rupee:before { content: '\f156'; } /* '' */
.icon-yen:before { content: '\f157'; } /* '' */
.icon-rouble:before { content: '\f158'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-tumblr:before { content: '\f173'; } /* '' */
.icon-tumblr-squared:before { content: '\f174'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-linux:before { content: '\f17c'; } /* '' */
.icon-wordpress:before { content: '\f19a'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-drupal:before { content: '\f1a9'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-behance:before { content: '\f1b4'; } /* '' */
.icon-behance-squared:before { content: '\f1b5'; } /* '' */
.icon-recycle:before { content: '\f1b8'; } /* '' */
.icon-git:before { content: '\f1d3'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-binoculars:before { content: '\f1e5'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-bicycle:before { content: '\f206'; } /* '' */
.icon-motorcycle:before { content: '\f21c'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-trademark:before { content: '\f25c'; } /* '' */
.icon-registered:before { content: '\f25d'; } /* '' */
.icon-fort-awesome:before { content: '\f286'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */
.icon-envelope-open:before { content: '\f2b6'; } /* '' */
.icon-envelope-open-o:before { content: '\f2b7'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-instagram-1:before { content: '\f32d'; } /* '' */
.icon-folder-open-empty:before { content: '\f4c2'; } /* '' */